/* BIG styles */

/* Global rules */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,body {
    background-color: #000;
    padding: 0;
    margin: 0;
}

::selection {
    color: #000; 
    background: #ff0;
}

div.wrapper {
    max-width: 1280px;
    background-color: #fff;
    margin: 0 auto;
    overflow: auto;
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 1em;
}

h2, p {
    padding: 0.5em;
}

p {
    font-size: 1.2em;
}

.researchparagraph {
    text-indent: 2em;
    text-align: justify;
}

.hangingindent {
    padding-left: 22px;
    text-indent: -22px;
}

a {
    text-decoration: none;
}

.logo {
    margin-right: 0.5em;
}

img {
    width: 100%;
    border: 1px solid #000;
}

div.gallery {
    text-align: center;
}

figure {
    display: inline-block;
    margin: .25%;
}

.fullwidth {
    width: 100%;
}

/* START LEFT COLUMN STYLES */
section {
    float: left;
    width: 64%;
}
/* END LEFT COLUMN STYLES */

/* START RIGHT COLUMN STYLES */
aside {
    float: right;
    width: 33%;
}
/* END RIGHT COLUMN STYLES */

/* START EMBED RESPONSIVELY STYLES */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
}

.embed-container iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
/* END EMBED RESPONSIVELY STYLES */

footer {
    clear: both;
    text-align: center;
    padding: 2em;
}

/*
iframe {
    display: block;
    margin: auto;
    width: 90%;
    height: 5700px;
    border: 2px solid darkcyan;
}
*/

/* Responsive rules */

/* PHONE */
@media all and (max-width:600px) {   
    section {
        float: none;
        width: 100%;
    }
    
    aside {
        float: none;
        width: 100%;
    }
}